@mixin footer-component-theme($theme) {
    $primary: $component-brackground-color;
    footer {
        background-color: mat-color($primary);
        .footer-list {
            font-size: 14px;
            color: $white-87-opacity;
            background-color: mat-color($primary);
            margin: 0 auto;
            & a {
                font-weight: bold;
            }
            & a:visited {
                color: $white-87-opacity;
            }
        }
    }
}

@include footer-component-theme($cool-app-theme);