.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    .dashboard-scroll-container {
        margin: 0 auto;
        width: 720px;
    }
}