.scroll-board-container {
    width: 100%;
    height: 300px;
    .scroll-board {
        display: inline-block;
        width: 95%;
        height: inherit;
        img {
            height: inherit;
            max-width: 100%;
        }
    }
    .scroll-index {
        display: table;
        width: 5%;
        height: 100%;     
        div {          
            display: table-cell;
            vertical-align: middle;          
            line-height: 100%;
            i {         
                display: block;
                width: 8px;
                height: 8px;
                background-color: #eee;
                border-radius: 8px;
                margin-bottom: 8px;
            }

            i:last-child{
                margin-bottom: 0;
            }
        }
    }
}