<div class="scroll-board-container" (wheel)="onWheelHandler($event)">
  <div class="scroll-board-inner">
    <div class="scroll-board-item" [ngClass]="item.cssClass" *ngFor="let item of scrollBoard">
      <img class="scroll-item" src="{{item.imgUrl}}" alt="under the iron sea">
    </div>
  </div>
  <div class="scroll-index">
    <div>
      <i *ngFor="let item of scrollBoard" class="scroll-board-index-point" [ngClass]="{'active':item.cssClass.indexOf('active') > -1}"></i>
    </div>
  </div>
  <!-- <a class="scroll-board-controll scroll-board-controll-prev" (click)="scrollPrev()">
    <mat-icon aria-hidden="true">navigate_before</mat-icon>  
  </a>
  <a class="scroll-board-controll scroll-board-controll-next" (click)="scrollNext()">
    <mat-icon aria-hidden="true">navigate_next</mat-icon>  
  </a> -->
</div>